@using AplicacionWebSeguros.Models;
@{
    tbUsuario userLog = (tbUsuario)Session["usrValido"];
}
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @Html.ActionLink("Prueba Tecnica Seguros", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @if (userLog != null)
        {
            foreach (var item in userLog.permisos)
            {
                if (item.nivel == 1)
                {
                    <li>@Html.ActionLink(item.Titulo, item.Accion, item.Controlador, new { area = "" }, new { @class = "navbar-brand" })</li>
                }

            }
        }
        <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        @if (userLog != null)
        {
            <li>@Html.ActionLink(userLog.Nombres, "usuarioValido", "Usuario", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Salir", "Salir", "Usuario", new { area = "" }, new { @class = "navbar-brand" })</li>
        }
        else
        {
            <li>@Html.ActionLink("Ingresar", "Login", "Usuario", new { area = "" }, new { @class = "navbar-brand" })</li>
        }

    </ul>
</div>
