@model AplicacionWebSeguros.Models.tbPoliza

@{
    ViewBag.Title = "Detale de la Poliza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detale de la Poliza</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Poliza Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolizaId)
        </dd>

        <dt>
            Nombre de la Poliza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriocion)
        </dd>

        <dt>
            Tipo de cubrimiento Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCubrimiento)
        </dd>

        <dt>
            Tipo de cubrimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCubrimientoDesc)
        </dd>

        <dt>
            Cubrimiento (%)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cubrimiento)
        </dd>

        <dt>
            Fecha Inicio vigencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InicioVigencia)
        </dd>

        <dt>
            Periodo cobertura (meses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodoCobertura)
        </dd>

        <dt>
            Precio ($)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            Tipo de riesgo Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRiesgo)
        </dd>

        <dt>
            Tipo de riesgo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRiesgoDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la lista", "ListaPolizas", "Poliza", new { area = "" }, new { @class = "btn btn-success" })
</p>
