@model IEnumerable<AplicacionWebSeguros.Models.tbPoliza>

@{
    ViewBag.Title = "Lista de Polizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Polizas</h2>

<p>
    @Html.ActionLink("Crear Poliza", "Create")
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriocion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCubrimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cubrimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InicioVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoCobertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoRiesgo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriocion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCubrimientoDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cubrimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InicioVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoCobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRiesgoDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PolizaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PolizaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PolizaId })
        </td>
    </tr>
}

</table>
