@model IEnumerable<AplicacionWebSeguros.Models.tbPoliza>
@using AplicacionWebSeguros.Models;

@{
    ViewBag.Title = "Lista de Polizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    tbUsuario userLog = (tbUsuario)Session["usrValido"];
}

<h2>Lista de Polizas</h2>
@if (userLog != null)
{
    foreach (var item in userLog.permisos)
    {
        if (item.Controlador == "Poliza" && item.Accion == "Create" )
        {
            <p>
                @Html.ActionLink(item.Titulo, item.Accion,item.Controlador, new { area = "" }, new { @class = "btn btn-primary" })
            </p>
        }
        <label> </label>
    }
}

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Nombre de la Poliza
        </th>
        <th>
            Descripción
        </th>
        <th>
            Tipo de cubrimiento
        </th>
        <th>
            Cubrimiento (%)
        </th>
        <th>
            Fecha Inicio Vigencia
        </th>
        <th>
            Periodo (meses)
        </th>
        <th>
            Precio ($)
        </th>
        <th>
            Tipo de riesgo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriocion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCubrimientoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cubrimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InicioVigencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoCobertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRiesgoDesc)
            </td>
            <td>
                @if (userLog != null)
                {
                    foreach (var item1 in userLog.permisos)
                    {
                        if (item1.nivel == 3 && item1.Accion != "Create")
                        {
                            <p>@Html.ActionLink(item1.Titulo, item1.Accion, new { id = item.PolizaId })</p>
                        }
                        
                    }
                }
            </td>
        </tr>
    }

</table>
